{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-decorators-legacy"
  ]
}