{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-decorators-legacy"
  ]
}
